body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /*
  none : リストの先頭の・を消せる
  */
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left; /*左から並んでいく*/
  padding: 33px 20px;
}

/*main*/


/*footer*/
.footer {
  background-color: #2f5437;
  color: #fff;
  height: 120px;
  padding: 40px;
  clear: both;/**/
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;/*左から並んでいく　でも１個しかないから右に寄るだけ*/
}

.footer-list li {
  padding-bottom: 20px;
}


.pra_img {
  clear: left;
}


.myname {
  color: red;
}

.title {
  border-bottom: 5px solid #b1d026;
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 24px;

}

.pra_font_var {
  padding: 0px;
}
.pra_font_var h1 {
  font-family: serif;
  color: #faaaaf;
  background-color: #26d0c9;
  width: 1000px;
  
}
.pra_font_var h2 {
  font-family: YuMincho;
  color: #fff;
  background-color: #000;
  width: 100%;
  
}

.pra_hori ul{
  margin-bottom: 300px;
}


.pra_hori li{
  float: left;
  font-size: 32px;
  padding: 50px;
  color: #fa84df;
}
.bgEx1 {
  background-color: blue;
}
.bgEx2 {
  background-color: red;;
}

input {
  width: 30%;
}
textarea {
  width: 80%;
  height: 200px;
}

input, textarea {/*複数のセレクタに同時にCSSを適用するときはカンマで連ねる*/
  border: 3px solid #aa33aa;
}


.background_img {
  background-image: url(https://img.freepik.com/free-photo/silhouette-of-children-play-soccer-football_1150-5356.jpg?w=740&t=st=1694033610~exp=1694034210~hmac=9a3751a86c19ad754fb04b1d661761cab18999062ad9b1e0514667bcd4a38436);
  background-size: cover;
  height: 500px;
  width: 1000px;
  margin: 0 auto;
}

.background_img h1 {
  color: white;
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
}
.background_img h2 {
  color: white;
  opacity: 0.7;/* 透明度 */
  width: 300px;
  margin: 0 auto;
}

.link_insta {
  display: block;
  width: 100px;
  margin: 30px auto;
  text-align: center;
}

.pra_hover {
  width: 300px;
}
.pra_hover:hover {
  color: #17eb68;
  background-color: rgb(235, 118, 166);
}






.hori {
  float: left;
  /**/
}

.box1 {
  width: 200px;
  height: 100px;
  background-color: orange;
  border-radius: 10px;
}

.box2 {
  width: 300px;
  height: 300px;
  background-color: purple;
  border-radius: 150px;
  opacity: 70%;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: magenta;
  border-radius: 50px;
  opacity: 60%;
}
.box3:hover {
  opacity: 100%;
  width: 100px;
  margin: 0 50px;
}


.font_awesome {
  clear: left;
}
.fa-twitter {
  color: red;
  background-color: black;
}


.trans {
  text-align: center;
}

.box4 {
  width: 200px;
  height: 100px;
  line-height: 100px;
  background-color: orange;
  border-radius: 10px;
  color: white;
  font-size: 40px;
  transition: all 1s;
  
}
.box4:hover {
  width: 100px;
  height: 200px;
  line-height: 200px;
  background-color: red;
  color: yellowgreen;
}
.box5 {
  width: 300px;
  height: 300px;
  background-color: rgba(128, 0, 128, 1);
  border-radius: 150px;
  opacity: 70%;
  color: white;
  font-size: 40px;
  transition: all 2s;
  line-height: 300px;
}
.box5:hover {
  border-radius: 0px;
  background-color: rgba(128, 0, 128, 0.3);
  color: brown;
}
.box6 {
  width: 200px;
  height: 100px;
  background-color: magenta;
  border-radius: 50px;
  opacity: 60%;
  color: white;
  font-size: 40px;
  transition: all 3s;
  line-height: 100px;
}
.box6:hover {
  opacity: 100%;
  width: 100px;
  margin: 0 50px;
}



.click {
  clear: both;
}

.click_a {
  display: block;
  height: 50px;
  background-color:rgb(31, 103, 220);
  color: pink; 
  line-height: 50px;
}

.click a {
  width: 180px;
  text-align: center;
}

